<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-4">
    <h1 class="text-center">Access List</h1>
    <ul class="list-group">
        <% for(var i=0; i<data.length; i++) { %>
            <li class="list-group-item">Accessed PATH: <code><%= data[i].url %></code>
                <br/>
                IP: <a href="logs/<%= data[i].ip %>"><code><%= data[i].ip %></code></a></li>
        <% } %>
    </ul>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
